.underline{
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.spacing-top{
    margin-top: 0px;
}

.my-image{
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 150px;
    height: auto;
    width: 65%;
}   

.programmingImage{
    width: 100%;
    height: 100%;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/programming_image.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    padding-top: 12px;
}

.header-text{
    margin-top: 30%;
    margin-left: 0%;
    font-size: 30px;
    color: white;
}

.ambitious_engineer{
    font-size: 70px;
}

.short-intro{
    line-height: 15px;;
}

.about_me_heading{
    color: #FFC600;
    font-size: 50px;
    font-weight: 600;
}

.about_me_para{
    color: white;
    line-height: 18px;
    text-align: left;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-2{
    flex-basis: 60%;
    padding-right: 150px;
    padding-top: 210px;
    text-align: left;
}

.carousel_text{
    font-size: 50px;
    color: #FFC600;
}

#carouselExampleIndicators{
    width: 80%;
    height: 80%;
    align-items: center;
    margin: 10% 10%;
}

.card{
    height: 485px;
    width: auto;
}

.card-text{
    text-align: left;
}

.row_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.my_projects_heading{
    text-align: center;
    color: #FFC600;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 100px;
    padding-top: 100px;
}

#about_me{
    padding-bottom: 100px;

}

#project_container{
    padding-bottom: 100px;
}

.linked_in{
    height: 40px;
    width: 40px;
}

.contact_row{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.checking{
    color: white;
}